@using EShop.Models
@model EShop.Models.GoodsModel
@{
    Layout = null;
    Model.Sort = (SortModel) Session["Sort"];
}

<div class="container offset-4 bg-dark justify-content-center mt-2">
    @using (Html.BeginForm("Search", "Goods", FormMethod.Post, new { @class="form-inline" }))
    {
        @Html.TextBoxFor(m => m.Name, new { @class= "form-control col-4"})
        <input type="submit" value="Поиск" class="btn btn-default" />
    }
</div>
